.containerTable{
    width: 100vw;
}

.containerFiltro input {
    width: 15px;
}

.containerFiltro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.containerFiltro p {
    text-align: center;
}

.containerFiltro ul {
    display: flex;
    flex-direction: row;
}

.containerFiltro ul li {
    display: flex;
    align-items: center;
    margin: 10px;
}

.containerFiltro ul li label {
    margin-right: 5px;
}

.containerFiltro {
    border-bottom: 1px solid rgb(255, 174, 0);
}

table {
    margin-top: 30px;
    width: 100%;
}

thead th {
    font-weight: normal;
    font-size: large;
    margin: 100px;
}

td {
    font-size: 20px;
}

td,
th {
    text-align: center;
    padding: 8px;
}

thead th {
    border-right: 1px solid black;
}

.ContainerPag{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ContainerPag span{
    margin-left: 50px;
}

.ContainerPag span button{
    width: 50px;
    border-radius: 50%;
    font-weight: bolder;
}