.sectionLogin form{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    background-color: black;
}

.versenha{
    display: flex;
    align-content: center;
    align-self: flex-end;
    max-width: 100%!important;    
}

.versenha label{
    margin-right: 4px;
    cursor: pointer;
}