.versenha {
    display: flex;
    align-content: center;
    align-self: flex-end;
    max-width: 100% !important;
}

.versenha label {
    margin-right: 4px;
    cursor: pointer;
}

.enderecoCont input[name="numeroCasa"]{
    width: 100px;
    margin: 5px;
}

.enderecoCont input[name="nomeRua"]{
    width: 190px;
}